
html, body 
{
  height: 100%;
  width: 100%;
  background-color: #BCDAFF;

  font-family: Candara;
}

#background
{
  position: absolute;

  height: 100%;
  width: 100%;

  //background-image: url( "logo.png" );
  //background-repeat: no-repeat;
  //background-size: 25% auto;
  //background-position: center;

  //opacity: 0.8;
}

#container
{
  position: relative;

  top: 2%;
  left: 2%;

  height: 94%;
  width: 96%;

  background-color: #57A0FF;
  border-radius: 10px;
}

#backgroundText
{
  position: absolute;

  top: 25%;
  left: 5%;

  width: 90%;

  font-size: 15vw;
  text-align: center;

  opacity: 0.8;
}

#container #header
{
  position: relative;

  top: 1%;
  left: 1%;

  height: 14%;
  width: 99%;

  border-width: 1px;
  border-color: white;
  border-style: ridge;

  display: none;
}

